In [2]:
import pandas as pd

csv_path = "./denizli_customers.csv"
df = pd.read_csv(csv_path)

df

      id      district        x        y
0      0  Merkezefendi  54.7394  54.9892
1      1  Merkezefendi  49.5109  45.7239
2      2  Merkezefendi  46.1716  49.6218
3      3  Merkezefendi  45.6824  54.1244
4      4  Merkezefendi  49.1643  52.9339
..   ...           ...      ...      ...
171  171       Beyağaç   7.1285  93.2592
172  172       Beyağaç   5.1123  90.6944
173  173       Beyağaç   5.6574  93.7176
174  174       Beyağaç   9.9256  93.3206
175  175       Beyağaç   9.9646  91.5450

[176 rows x 4 columns]